page-search {
    .center-loader{
        margin:0 auto;
        max-width: 80px !important;
        max-height: 80px !important;     
     } 

     .center-img{
        margin:0 auto;
        max-width: 180px !important;
        max-height: 180px !important;     
     } 

}
